# Security: Never copy secrets
.env
*.env

# Virtual Environments
venv/
env/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Git repository data
.git/
.gitignore

# IDEs and environments
.vscode/
.idea/
.DS_Store

# Temporary data / logs
*.log
tmp/
temp/